.calc-button {
  background: #e2e2e2;
  border: 1px solid rgba(0,0,0,0.05);
  align-items: center;
  justify-content: center;
  width: 4em;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.5);
  height: 3em;
}

.calc-button:hover {
  cursor: pointer;
}